<!DOCTYPE html>
<html>
<head>
  <title>Greenir</title>
  <%= favicon_link_tag 'grassrute.png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<!-- Facebook Like Scripts -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=668754713163825";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- End FB Stuff -->

<!-- Twitter Follow Script -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- End Twitter Follow -->

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

<div class='wrapper'>    

 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <!-- <div class="container" id='column'> -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">
                    <img class='logo' src="<%= asset_path( 'grassrute.png' ) %>">  <span style='color: white;'>Greenir</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  
                  <!-- Need to make style into a class for active nav item -->
                    <!-- <li>
                        <a href="/how">How It Works</a>
                    </li> -->
                    <li>
                        <a href="/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="/">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
            <!-- /.navbar-collapse -->
        <!-- </div> -->
        <!-- /.container -->
    </nav>



<%= yield %>

</div>
<!-- Start Footer -->

<!-- <footer> -->
   <!-- Start Social Media -->
<!--    <div class='social'>
        <a href="https://twitter.com/Greenir" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @Greenir</a>


        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div> -->

<!-- End Social Media -->
<!-- </footer> -->

<!-- End Footer -->

<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20130334",
      url:         "https://greenir.zendesk.com",
      tabTooltip:  "Support",
      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support_right.png",
      tabColor:    "black",
      tabPosition: "Right"
    });
  }
</script>
</body>
</html>
